html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map
{
    width: 100%;
    height: 100%;
}
#instructions 
{
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: #eefeff;
    padding: 0.15em;
}